<template>
  <div>
    <div v-html="$t('dead.header', { framaservice: $t('color.story')})"></div>

    <h3 v-html="$t('dead.more')"></h3>
    <ul>
      <li
        v-html="$t('dead.cloud', {
          link: 'https://framagit.org/framasoft/pickweaver/-/wikis/home',
        })"
      ></li>
      <li v-html="$t('dead.contact')"></li>
    </ul>
  </div>
</template>
