<template>
  <div>
    <div v-html="$t('close.header')"></div>

    <b-card id="alt">
      <div v-html="$t('calc')"></div>
      <b-alert
        show
        variant="warning mb-0 mt-4 d-md-flex align-items-center border-0 rounded-0"
      >
        <img
          :src="`${$t('baseurl')}img/entraide/calc.svg`"
          alt=""
          class="rounded-circle d-block mx-auto"
          style="border: 3px solid #677b3b;width: 70px;height: 70px;"
        />
        <p v-html="$t('entraide')"></p>
      </b-alert>
    </b-card>

    <h3 v-html="$t('close.more')"></h3>
    <ul>
      <li
        v-html="$t('close.doc', {
          link: 'https://docs.framasoft.org/fr/ethercalc/deframasoftiser.html',
        })"
      ></li>
      <li
        v-html="$t('close.chatons', {
          link: 'https://chatons.org/search/by-service?service_type_target_id=136'
        })"
      ></li>
      <li v-html="$t('close.blog')"></li>
<!--      <li-->
<!--        v-html="$t('close.cloud', {-->
<!--          link: `${this.$t('cloud.calc')}`-->
<!--        })"-->
<!--      ></li>-->
    </ul>
  </div>
</template>
