<template>
  <div>
    <div v-html="$t('close.header')"></div>

    <b-card
      id="alt"
      v-html="$t('wiki')"
    />

    <h3 v-html="$t('close.more')"></h3>
    <ul>
      <li
        v-html="$t('close.doc', {
          link: 'https://docs.framasoft.org/fr/dokuwiki/deframasoftiser.html',
        })"
      ></li>
      <li v-html="$t('close.blog')"></li>
      <li v-if="$t('lang') === 'fr'">
        <a href="https://framablog.org/2021/05/18/comment-migrer-son-frama-site-avant-la-fermeture-du-service-le-6-juillet-prochain/">
          Comment migrer son frama.site avant la fermeture du service le 6 juillet prochain ?</a>,
        interview de BeeHome et Ouvaton sur le <span v-html="$t('color.blog')"></span>.<br />
        <b>MàJ : BeeHome ne fait plus de nouvelles migrations, mais permet toujours la céation de nouveaux sites.</b>
      </li>
    </ul>
  </div>
</template>
