<template>
  <div>
    <div v-html="$t('close.header')"></div>

    <b-card
      id="alt"
      v-html="$t('clic')"
    />

    <h3 v-html="$t('close.more')"></h3>
    <ul>
      <li
        v-html="$t('close.doc', {
          link: 'https://docs.framasoft.org/fr/dolomon/deframasoftiser.html',
        })"
      ></li>
      <li v-html="$t('close.blog')"></li>
      <li
        v-html="$t('close.cloud', {
          link: `${this.$t('cloud.clic')}`
        })"
      ></li>
    </ul>
  </div>
</template>
